@import url(https://fonts.googleapis.com/earlyaccess/cwtexfangsong.css);
@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

body{
	height: 1000px;
	font-family: ‘cwTeXFangSong’, serif;
}

.frame{
	font-family: ‘cwTeXFangSong’, serif;
	display:flex; 
	/*讓下層水平排列*/
	background-color: #faeeeb;
	margin-bottom: 7px;
	margin-top: 20px;
	
}
.logo{
	padding-left: 20px;
	width: 400px;
	
}
.left{
	display: flex;
	background-color: #faeeeb;
	width: 60%;
}

.right{
	display: flex;
	background-color: #faeeeb;
	flex: auto;
	border-bottom: 1px solid #2c494e;
	font-family: ‘Noto Sans TC’, sans-serif;
	align-items: flex-end;
	margin-right: 5%;
}

.item{
	background-color: #faeeeb;
	flex: none;
	width: 30%;
	margin-right: 5px;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	cursor: pointer;
}

h1{
	font-size: 30px;
	text-align: center;
	font-size: 100px;
	color: #886677;
	font-family: ‘cwTeXFangSong’, serif;

}

.pic{
	display: block;
  	margin: auto;
  	border: 20px solid #887799;
  	width:1000px;
}
.frame2{
	padding: 10px 100px;
}

h2{
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
}

p{
	font-size: 15px;
	text-align: center;
	letter-spacing: 3px;

}